torch
torchvision
torchaudio

numpy
pandas
scipy

opencv-python
Pillow
albumentations

matplotlib
seaborn

scikit-learn
tqdm

tensorboard
mlflow

PyYAML
python-box
omegaconf

fastapi
uvicorn
python-multipart

onnx
onnxruntime

sqlalchemy

loguru
prometheus-client


pytest
pytest-cov

black
flake8
isort

python-dotenv

jupyter
notebook
ipykernel

timm
grad-cam
dvc
gunicorn
setuptools
joblib

-e .